
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Contraseña</title>
    <script>
        function validateForm(event) {
            event.preventDefault();
            const emailInput = document.getElementById('exampleEmail');
            const errorMessage = document.getElementById('error-message');
            const email = emailInput.value;
            const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

            if (!email || !emailRegex.test(email)) {
                errorMessage.style.display = 'block';
                emailInput.focus();
            } else {
                errorMessage.style.display = 'none';
                alert('Formulario enviado');
            }
        }
    </script>
</head>
<body>
    <div class="header">
        <div class="title">
            <h1>Recuperar Contraseña</h1>
        </div>
        <nav>
            <ul>
                <li class="left"><a routerLink="/home">Control de Gastos</a></li>
                <li class="right"><a routerLink="/registrarse">Registrarse</a></li>
                <li class="right"><a routerLink="/registrarse">Iniciar Sesión</a></li>
            </ul>
        </nav>
    </div>
    <div class="container">
        <form class="form-container" onsubmit="validateForm(event)">
            <h2>Recuperar Contraseña</h2>
            <div class="mb-3">
                <label for="exampleEmail" class="form-label">Ingrese correo electrónico</label>
                <input type="email" class="form-control" id="exampleEmail" aria-describedby="emailUser" placeholder="ejemplo@dominio.com">
            </div>
            <div id="error-message" class="error-message">Se solicita escribir un correo válido</div>
            <button type="submit" class="btn btn-primary">Confirmar ✔</button>
            <button type="button" class="btn btn-secondary">Enviar</button>
            <div class="verification-container">
                <div class="mb-3">
                    <p class="texto-separado">Le hemos mandado un mensaje a su correo, por favor escriba los caracteres que enviamos.</p>
                    <input type="text" class="form-control" id="verificationCode" maxlength="6" placeholder="******">
                </div>
                <div style="display: flex; justify-content: flex-end;">
                    <button type="button" class="btn btn-cancel">Cancelar ✖</button>
                    <button type="submit" class="btn btn-confirm">Confirmar ✔</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>