<!DOCTYPE html>
<html lang="es">
<body>
    <div class="container">
        <header class="header">
            <div class="title">
                <h1>Recuperar Contraseña</h1>
            </div>
            <nav>
                <ul>
                    <li class="left"><a routerLink="/home">Control de Gastos</a></li>
                    <li class="right"><a routerLink="/login">Inicia sesión</a></li>
                    <li class="right"><a routerLink="/registrarse">Registrarse</a></li>
                </ul>
            </nav>
        </header>
        <main class="main-content">
            <form class="form-container">
                <h2>Recuperar Contraseña</h2>
                <div class="mb-3">
                    <label for="exampleEmail" class="form-label">Ingrese correo electronico</label>
                    <input type="user" class="form-control" id="exampleEmail" aria-describedby="emailUser" placeholder="ejemplo@dominio.com">
                </div>
                <div class="mb-3">
                    <label for="examplePassword" class="form-label">Nueva contraseña</label>
                    <input type="password" class="form-control" id="examplePassword" placeholder="********">
                </div>
                <div class="mb-3">
                    <label for="examplePassword" class="form-label">Confirme contraseña</label>
                    <input type="password" class="form-control" id="examplePassword" placeholder="********">
                </div>
                <button type="submit" class="btn btn-primary">Confirmar</button>
            </form>
        </main>
    </div>
</body>
</html>