<!DOCTYPE html>
<html lang="es">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<body>
    <div class="container">
        <header class="header">
            <div class="title">
                <h1>Ingresar</h1>
            </div>
            <nav>
                <ul>
                    <li class="left"><a href="#">Control de Gastos</a></li>
                    <li class="right"><a routerLink="/servicio/list">Regresar</a></li>
                </ul>
            </nav>
        </header>
        <main class="main-content">
            <div class="container">
                <h2>Crear servicio</h2>
                <form id="registroForm" class="form-grid">
                    <div class="form-group">
                        <label for="descripcion">Descripcion</label>
                        <input type="text" id="descripcion" name="descripcion" [(ngModel)]="servicio.descripcion" placeholder="descripcion" required>
                    </div>
                    <div class="form-group">
                        <label for="cliente">Cliente</label>
                        <input type="text" id="cliente" name="cliente" [(ngModel)]="servicio.cliente" placeholder="cliente" required>
                    </div>    
                    <div class="form-group">
                        <label for="estado">Estado</label>
                        <input type="text" id="estado" name="estado" [(ngModel)]="servicio.estado" placeholder="estado" required>
                    </div>               
                    <div class="form-group">
                        <label for="monto">Monto</label>
                        <input type="int" id="monto" name="monto" [(ngModel)]="servicio.monto" placeholder="$ 00.0" required>
                    </div>
                    <div class="form-group">
                        <label for="fechaServicio">Fecha de servicio</label>
                        <input type="date" id="fechaServicio" name="fechaServicio" [(ngModel)]="servicio.fechaServicio" required>
                    </div>
                    <button class="btn btn-primary" (click)="saveNewServicio()">Crear</button>
                </form>
            </div>
        </main>   
    </div>
</body>
</html>