<!DOCTYPE html>
<html lang="es">
<body>
    <div class="container">
            <header class="header">
                <div class="title">
                    <h1>Control Gastos</h1>
                </div>
                <nav>
                    <ul>
                        <li class="left"><a routerLink="/">Control Gastos</a></li>
                        <li class="right"><a routerLink="/login">Inicia sesión</a></li>
                        <li class="right"><a routerLink="/registrarse">Registrarte</a></li>
                    </ul>
                </nav>
            </header>
            <div *ngIf="notificationMessage" class="notification">
                {{ notificationMessage }} <i class="fas fa-check"></i>
            </div>              
            <main class="main-content">
                <h2>Bienvenido</h2>
                <br>
                <h4 class="fade-in">"Tranquilidad financiera: la cima está al alcance."</h4>
                <br>
                <div class="image-container">
                    <div class="card">
                        <img src="assets/imagen1.jpg" alt="Image 1" class="card-image">
                        <p class="card-text">“Presupuesto claro, gastos bajo control.”</p>
                    </div>
                    <div class="card">
                        <img src="assets/imagen2.jpg" alt="Image 2" class="card-image">
                        <p class="card-text">“Nombre pagina: tu asistente personal para el dinero.”</p>
                    </div>
                    <div class="card">
                        <img src="assets/imagen3.jpg" alt="Image 3" class="card-image">
                        <p class="card-text">“Cada gasto cuenta: regístralo y toma el control.”</p>
                    </div>
                    <div class="card">
                        <img src="assets/imagen4.jpg" alt="Image 4" class="card-image">
                        <p class="card-text">“Revisa y ajusta: el camino hacia unas finanzas saludables.”</p>
                    </div>
                </div>
            </main>
        </div>
    </body>
</html>