<!DOCTYPE html>
<html lang="es">
<body>
    <div class="container">
        <header class="header">
            <div class="title">
                <h1>Control Gastos</h1>
            </div>
            <nav>
                <ul>
                    <li class="left"><a routerLink="/">Control de Gastos</a></li>
                    <li class="right"><a routerLink="/login">Inicia sesión</a></li>
                    <li class="right"><a routerLink="/registrarse">Registrarte</a></li>
                </ul>
            </nav>
        </header>
        <main class="main-content">
            <h1>Bienvenido</h1>
            <div class="image-container">
                <img src="assets/moneda.png" style="width: 40%;">
            </div>
        </main>
    </div>
</body>
</html>