.container h1 {
    font-family: sans-serif;
}

.left {
    font-family: sans-serif;
    margin-left: 0%;
}

.right {
    font-family: sans-serif;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    background-color: #CB4154;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    background-color: #E2725B;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.header nav {
    background-color: #CB4154;
    width: 100%;
}

.header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 10px 20px;
}

.header nav ul li.left {
    margin-right: auto;
}

.header nav ul li.right {
    margin-left: 20px;
}

.header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight:600;
}

.main-content {
    background-color: #f1edec;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.main-content h2 {
    margin-top: 0;
}

.image-container {
    width: 80%;
    height: 300px;
    border: 2px solid #d82c1a;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
    border-radius: 15px;
}

.image-container p {
    margin: 0;
}

.form-container {
    width: 30%;
    max-width: 450px;
    margin: auto;
    margin-top: 50px;
    background-color: azure;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    font-family: sans-serif;
}

.links-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
}

.links-container h5 {
    margin: 0;
    font-family: sans-serif;
}

.links-container h5 a {
    text-decoration: none;
    color: inherit;
}
