.container h1 {
    font-family: sans-serif;
}

.left {
    font-family: sans-serif;
    margin-left: 0%;
}

.right {
    font-family: sans-serif;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    background-color: #4a4657;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header nav ul li.right a i {
    margin-right: 5px;
    color: white;
    font-size: 16px;
}

.title {
    background-color: #3c374e;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.header nav {
    background-color: #4a4657;
    width: 100%;
}

.header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 10px 20px;
}

.header nav ul li.left {
    margin-right: auto;
}

.header nav ul li.right {
    margin-left: 20px;
}

.header nav ul li a {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 600;
}

.main-content {
    background-color: #f1edec;
    background-image: url('/assets/FondoA.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.main-content .white-container {
    padding: 20px;
    border-radius: 5px; 
    box-shadow: 13px 13px 23px rgba(0, 0, 0, 0.5);
    border: 2px solid #262f57;
    background: rgba(100, 247, 247, 0.356); 
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-between; 
}

.main-content h1{
    color: #fff;
    font-family: sans-serif;
}

.main-content h2 {
    margin-top: 0;
    text-align: center;
}


section {
    width: 32%;
}

section h2 {
    margin-bottom: 20px;
}

.gastos ul {
    list-style: none;
    margin-bottom: 20px;
    max-height: 200px;
    overflow-y: auto;
}

.gastos li {
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.gastos input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.gastos button {
    background-color: #3a3a3a;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 600;
    font-size: medium;
}

.agenda .calendario {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.agenda .calendario .mes-año {
    font-size: 20px;
    margin-bottom: 10px;
}

.agenda .calendario table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    background-color: white;
}

.agenda .calendario th, .agenda .calendario td {
    padding: 10px;
    border: 1px solid #ccc;
}

button.prev, button.next {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.formulario label {
    margin-bottom: 5px;
    font-family: sans-serif;
}

.formulario input, .formulario textarea {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 22px);
    font-family: sans-serif;
}

.formulario .botones {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.formulario .botones button {
    background-color:#b7392c;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 48%;
    font-family: sans-serif;
    font-weight: 700;
    font-size: medium;
}