<!DOCTYPE html>
<html lang="es">
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <header class="header">
        <div class="title">
          <h1>Ahorro</h1>
        </div>
        <nav>
          <ul>
            <li class="left"><a routerLink="/inicio-usuario">Control de Gastos</a></li>
          </ul>
        </nav>
      </header>
      <main class="main-content">
        <h1>Ahorro</h1>
        <div class="white-container">
          
        </div>
      </main>
    </div>
  </body>
</html>


