.container h1 {
    font-family: sans-serif;
}

.left {
    font-family: sans-serif;
    margin-left: 0%;
}

.right {
    font-family: sans-serif;
}

body {
    margin: 0;
    font-family: sans-serif;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    background-color: #4a4657;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header nav ul li.right a i {
    margin-right: 5px;
    color: white;
    font-size: 16px;
}

.title {
    background-color: #3c374e;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.header nav {
    background-color: #4a4657;
    width: 100%;
}

.header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 10px 20px;
}

.header nav ul li.left {
    margin-right: auto;
}

.header nav ul li.right {
    margin-left: 20px;
}

.header nav ul li a {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 600;
}

.main-content {
    background-color: #f1edec;
    background-image: url('/assets/FondoA.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.form-grid {
    width: 100%; 
    max-width: 1100px; 
    margin-top: 20px; 
    padding: 30px; 
    border: 2px solid #00065a; 
    border-radius: 5px; 
    box-shadow: 13px 13px 23px rgba(0, 0, 0, 0.5);
    border: 2px solid #000b3b6c;
    background: rgba(125, 111, 248, 0.205);
    backdrop-filter: blur(10px);
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 30px;
}

.form-group {
    margin-bottom: 20px; 
}

.form-floating {
    position: relative;
    margin-bottom: 20px;
}

.form-floating input,
.form-floating select {
    width: 300px; 
    padding: 10px; 
    border: 3px solid #ffffff93; 
    border-radius: 4px; 
    box-sizing: border-box; 
    font-size: 15px; 
    font-family: sans-serif;
    background-color: transparent;
    color: #000;
    transition: all 0.2s ease;
}

.form-floating label {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 15px;
    color: #666;
    pointer-events: none;
    transition: all 0.2s ease;
}

.form-floating input:focus,
.form-floating select:focus {
    border-color: #4a4657;
    outline: none;
}

.form-floating input:focus + label,
.form-floating select:focus + label,
.form-floating input:not(:placeholder-shown) + label,
.form-floating select:not(:placeholder-shown) + label {
    top: -17px;
    left: 0;
    font-size: 14px;
    color: #4a4657;
}

.file-input {
    padding: 0; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    background-color: #fff;
    cursor: pointer;
    font-size: 12px; 
}

.file-input::file-selector-button {
    border: none;
    background: #4431318e;
    color: #fff2cc;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
}

.file-input::file-selector-button:hover {
    background: #00000094;
}

button {
    grid-column: span 3;
    background-color: #270d0a8e;
    color: #fff2cc;
    border: none; 
    padding: 10px 20px; 
    border-radius: 4px; 
    cursor: pointer; 
    font-size: 16px; 
    align-items: center;
}

button:hover {
    background-color: #00000094; 
}

.info-icon {
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
    position: relative;
}

.info-icon .tooltip {
    display: none;
    position: absolute;
    top: -5px;
    left: 25px;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    z-index: 10;
    font-size: small;
    font-weight: normal;
}

.info-icon:hover .tooltip {
    display: block;
}

.info-icon i {
    color: #545dd8;
    font-size: 1em;
}

.error-message {
    color: #af1919;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.error-message i {
    margin-right: 5px;
}

.form-group.error input,
.form-group.error select {
    border-color: #af1919;
}
