<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="title">
                <h1>Registrar Gasto</h1>
            </div>
            <nav>
                <ul>
                    <li class="left"><a href="/inicio-usuario">Control de Gastos</a></li>
                    <li class="right"><a routerLink="/gastos/list">Regresar</a></li>
                </ul>
            </nav>
        </header>
        <main class="main-content">
            <h3></h3>
            <div class="container">
                <form id="registroForm" class="form-grid" (ngSubmit)="saveNewGasto()">
                    <div class="form-group">
                        <label for="Descripción">Descripción
                            <span class="info-icon">
                                <i class="fas fa-info-circle"></i>
                                <span class="tooltip">Detalles sobre qué compraste o pagaste.</span>
                            </span>
                        </label>
                        <input type="text" id="Descripcion" name="Descripcion" [(ngModel)]="gasto.Descripcion" placeholder="Descripcion" required>
                    </div>
                    <div class="form-group">
                        <label for="Categoria">Categoría
                            <span class="info-icon">
                                <i class="fas fa-info-circle"></i>
                                <span class="tooltip">Ingrese la categoría correspondiente al gasto.</span>
                            </span>
                        </label>
                        <input type="text" id="Categoria" name="Categoria" [(ngModel)]="gasto.Categoria" placeholder="Categoría" required>
                    </div>
                    <div class="form-group">
                        <label for="Monto">Monto
                            <span class="info-icon">
                                <i class="fas fa-info-circle"></i>
                                <span class="tooltip">La cantidad exacta gastada.</span>
                            </span>
                        </label>
                        <input type="number" id="Monto" name="Monto" [(ngModel)]="gasto.Monto" placeholder="$ 00.0" required>
                    </div>
                    <div class="form-group">
                        <label for="FechaTransaccion">Fecha de transacción
                            <span class="info-icon">
                                <i class="fas fa-info-circle"></i>
                                <span class="tooltip">Clasifica el tipo de gasto para entender mejor en qué áreas se gasta más.</span>
                            </span>
                        </label>
                        <input type="date" id="FechaTransaccion" name="FechaTransaccion" [(ngModel)]="gasto.FechaTransaccion" required>
                    </div>
                    <div class="form-group">
                        <label for="MetodoPago">Método de pago
                            <span class="info-icon">
                                <i class="fas fa-info-circle"></i>
                                <span class="tooltip">Registra cómo se realizó el pago.</span>
                            </span>
                        </label>
                        <input type="text" id="MetodoPago" name="MetodoPago" [(ngModel)]="gasto.MetodoPago" placeholder="MetodoPago" required>
                    </div>
                    <div class="form-group">
                        <label for="foto">Comprobante de gasto
                            <span class="info-icon">
                                <i class="fas fa-info-circle"></i>
                                <span class="tooltip">Adjunta una foto del recibo o del gasto.</span>
                            </span>
                        </label>
                        <input type="file" id="foto" name="foto" class="file-input">
                    </div>
                    <button type="submit"><i class="fas fa-check"></i> Guardar</button>
                </form>
            </div>
        </main>   
    </div>
</body>
</html>
