<!DOCTYPE html>
<html lang="es">
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
  <div class="container">
    <header class="header">
      <div class="title">
        <h1>Resumen</h1>
      </div>
      <nav>
        <ul>
          <li class="left"><a routerLink="/inicio-usuario">Control de Gastos</a></li>
          <li class="right"><a routerLink="/inicio-usuario">Regresar</a></li>
        </ul>
      </nav>
    </header>
    <main class="main-content">
      <h1>Resumen Gastos</h1>
      <div class="white-container">
        <div class="filters-container">
          <div class="filter-dropdown">
            <button class="button_filter">Filtrar Gastos</button>
            <div class="dropdown-content">
              <a (click)="filterGastos('day')">Último Día</a>
              <a (click)="filterGastos('week')">Última Semana</a>
              <a (click)="filterGastos('month')">Último Mes</a>
              <a (click)="filterGastos('year')">Último Año</a>
              <a (click)="filterGastos('all')">Todos</a>
            </div>
          </div>
          <div class="type-filter-dropdown">
            <button class="button_filter">Filtrar por Tipo</button>
            <div class="dropdown-content">
              <a (click)="filterByType('Gasto')">Gasto</a>
              <a (click)="filterByType('Ingreso')">Ingreso</a>
              <a (click)="filterByType('Servicio')">Servicio</a>
              <a (click)="filterByType('all')">Todos</a>
            </div>
          </div>
          <div class="dropdown">
            <button class="button_descargar">Descargar</button>
            <div class="dropdown-content">
              <a (click)="createPdf()">Descargar como PDF</a>
            </div>
          </div>
        </div>
        <table class="expenses-table">
          <thead>
            <tr>
              <th>Tipo</th>
              <th>Información</th>
              <th>Monto</th>
              <th>Fecha</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of resumen">
              <td>{{ item.type }}</td>
              <td>{{ item.Descripcion || item.OrigenIngreso || item.Cantidad + ' ' + item.Producto}}</td>
              <td>$ {{ item.Monto }}</td>
              <td>{{ item.FechaTransaccion || item.FechaIngreso || item.FechaServicio | date }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</body>
</html>
