<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Contraseña</title>
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="title">
                <h1>Recuperar Contraseña</h1>
            </div>
            <nav>
                <ul>
                    <li class="left"><a routerLink="/home">Control de Gastos</a></li>
                    <li class="right"><a routerLink="/registrarse">Registrarse</a></li>
                    <li class="right"><a routerLink="/registrarse">Iniciar Sesión</a></li>
                </ul>
            </nav>
        </header>
        <main class="main-content">
            <form class="form-container" onsubmit="return validatePasswords()">
                <h2>Recuperar Contraseña</h2>
                <div class="mb-3">
                    <label for="examplePassword1" class="form-label">Nueva contraseña</label>
                    <input type="password" class="form-control" id="password1" placeholder="********">
                </div>
                <div class="mb-3">
                    <label for="examplePassword2" class="form-label">Confirme contraseña</label>
                    <input type="password" class="form-control" id="password2" placeholder="********">
                </div>
                <div id="error-message" class="error-message">Las contraseñas no coinciden.</div>
                <div class="btn-group">
                    <button type="submit" class="btn btn-confirm">✔ Confirmar</button>
                    <button type="button" class="btn btn-cancel">✖ Cancelar</button>
                </div>
            </form>
        </main>
    </div>

    <script src="script.js"></script>
</body>
</html>
