body {
    margin: 0;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: #f1f1f1;
}

.container h1,
.left,
.right {
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 10vh; /* Ajuste para asegurar que ocupe toda la altura visible */
}

.header {
    background-color: #CB4154;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinea a la izquierda */
    width: 100%;
    padding: 1px 0;
}

.title {
    background-color: #E2725B;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.header nav {
    background-color: #CB4154;
    width: 100%;
}

.header nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end; /* Alinea a la derecha */
    margin: 0;
    padding: 10px 20px;
}

.header nav ul li {
    margin-left: 310px; /* Espacio entre los elementos */
}

.header nav ul li:first-child {
    margin-left: 0; /* Elimina el margen izquierdo del primer elemento */
}

.header nav ul li:last-child {
    margin-left: auto; /* Mueve el último elemento al inicio */
}

.header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.main-content {
    background-color: #f1edec;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.main-content h2 {
    margin-top: 0;
}

.image-container {
    width: 80%;
    height: 300px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.image-container p {
    margin: 0;
}

.form-container {
    width: 150%;
    max-width: 500px;
    margin-top: 50px;
    background-color: #fff2cc;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centra el contenido del formulario */
}

.form-container h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

.form-container .mb-3 {
    margin-bottom: 15px;
}

.form-container .form-label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.1em;
}

.form-container .form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

.btn {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
    border: none;
    outline: none;
    font-weight: bold;
}

.btn-primary {
    background-color: #CB4154;
    color: white;
}

.btn-secondary {
    background-color: #E2725B;
    color: white;
    margin-left: 20px; /* Espacio adicional */
}

.btn-cancel {
    background-color: #E2725B;
    color: white;
}

.btn-confirm {
    background-color: #CB4154;
    color: white;
    margin-left: 5px; /* Ajuste de margen */
    margin-right: 5px; /* Ajuste de margen */
}

.error-message {
    display: none;
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}

.custom-btn {
    width: 90%;
    background-color: #b7392c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
}

.custom-btn:hover {
    background-color: #cd695e;
}

.form-container .btn-group {
    margin-top: 20px;
    display: flex;
    justify-content: center; /* Ajusta el espacio entre botones */
    align-items: center;
}

.form-container .btn-group .btn {
    flex: 1; /* Distribuye el espacio entre los botones */
    max-width: 400px; /* Ajusta el ancho máximo de los botones */
    margin: 0 10px;
}

.form-container .disclaimer {
    font-size: 0.8em;
    margin-top: 10px;
    color: #666;
    text-align: center;
}
