.container h1 {
    font-family: sans-serif;
}

.left {
    font-family: sans-serif;
    margin-left: 0%;
    font-weight: 600;
}

.right {
    font-family: sans-serif;
    font-weight: 600;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    background-color: #CB4154;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header nav ul li.right a i {
    margin-right: 5px; 
    color: white; 
    font-size: 16px; 
    font-weight: bold;
}

.title {
    background-color: #E2725B;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.header nav {
    background-color: #CB4154;
    width: 100%;
}

.header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 10px 20px;
}

.header nav ul li.left {
    margin-right: auto;
}

.header nav ul li.right {
    margin-left: 20px;
}

.header nav ul li a {
    color: white;
    text-decoration: none;
}

.main-content {
    background-color: #f1edec;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.main-content h2 {
    margin-top: 0;
}

.main-content .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container {
    width: 80%;
    height: 300px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.image-container p {
    margin: 0;
}

.form-container {
    width: 30%; 
    max-width: 450px; 
    margin: auto; 
    margin-top: 50px; 
    background-color:#fff2cc; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container h1 {
    text-align: center; 
    font-size: 2em; 
    margin-bottom: 20px; 
    font-family: sans-serif;
}

.form-container h5{
    margin-left: 80%;
    font-family: sans-serif;
}
.form-container .mb-3 {
    margin-bottom: 15px;
}

.form-container .form-label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.2em; 
    font-family:sans-serif;
}

.form-container .form-control {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em; 
    font-family:sans-serif;
}

.contenido-principal {
    background-color: #f2d694; 
    flex: 1; 
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
    padding: 12px; 
    min-height: 70%;
}

.form-grid {
    width: 100%; 
    max-width: 800px; 
    margin-top: 20px; 
    padding: 30px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 30px; 
    background-color: #fff2cc;
}

.form-group {
    margin-bottom: 20px; 
}

label {
    display: block; 
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: calc(100% - 12px); 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    font-size: 12px; 
    font-family: sans-serif;
}

button {
    grid-column: span 3;
    background-color:#b7392c;
    color: #fff2cc;
    border: none; 
    padding: 10px 20px; 
    border-radius: 4px; 
    cursor: pointer; 
    font-size: 16px; 
}

button a {
    text-decoration: none;
    color: inherit;
}

button:hover {
    background-color: #cd695e; 
}

.links-container {
    display: flex;
    justify-content: space-between; 
    width: 100%; 
    padding: 10px 0; 
}

.links-container h5 {
    margin: 0; 
    font-family: sans-serif; 
}

.links-container h5 a {
    text-decoration: none; 
    color: inherit; 
}

.form-group select {
    width: calc(100% - 12px); 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    font-size: 12px; 
    font-family: sans-serif;
    color: #333; 
    background-color: white; 
}

.info-icon {
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
    position: relative;
}

.info-icon .tooltip {
    display: none;
    position: absolute;
    top: -5px;
    left: 25px;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    z-index: 10;
    font-size: small;
    font-weight: normal;
}

.info-icon:hover .tooltip {
    display: block;
}

.info-icon i {
    color: #17a2b8;
    font-size: 1em;
}

