<!DOCTYPE html>
<html lang="es">
<body>
    <div class="container">
        <header class="header">
            <div class="title">
                <h1>CreArte</h1>
            </div>
            <nav>
                <ul>
                    <li class="left"><a href="#">Control de Gastos</a></li>
                    <li class="left1"><a href="#">Resumen</a></li>
                    <li class="right"><a href="#">Usuario</a></li>
                </ul>
            </nav>
        </header>
        <main class="main-content">
            <div class="expenses-agenda-calendar">
                <div class="expenses-section">
                    <label for="MisGastos">Mis Gastos</label>
                    <div class="expenses">
                        <ul>
                            <li class="button_gastos"><button>Gasto2</button></li>
                            <li class="button_gastos"><button>Gasto3</button></li>
                            <li class="button_gastos"><button>Gasto4</button></li>
                            <li class="button_gastos"><button>Gasto5</button></li>
                            <li class="button_gastos"><button>Gasto6</button></li>
                            <a class="button_gastos" routerLink="/gasto"><button>Añadir gasto</button></a>
                        </ul>
                    </div>                                        
                </div>
                <div class="agenda-calendar">
                    <section class="agenda">
                        <h3>Mi agenda</h3>
                    </section>
                    <section class="calendar">
                        <h3>Calendario</h3>
                        <div class="month">
                            <button>&lt;</button>
                            <span>JUNIO 2024</span>
                            <button>&gt;</button>
                        </div>
                        <table>
                            <thead>
                                <tr>
                                    <th>D</th>
                                    <th>L</th>
                                    <th>M</th>
                                    <th>M</th>
                                    <th>J</th>
                                    <th>V</th>
                                    <th>S</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>26</td>
                                    <td>27</td>
                                    <td>28</td>
                                    <td>29</td>
                                    <td>30</td>
                                    <td>31</td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>3</td>
                                    <td>4</td>
                                    <td>5</td>
                                    <td>6</td>
                                    <td>7</td>
                                    <td>8</td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>10</td>
                                    <td>11</td>
                                    <td>12</td>
                                    <td class="selected">13</td>
                                    <td>14</td>
                                    <td>15</td>
                                </tr>
                                <tr>
                                    <td>16</td>
                                    <td>17</td>
                                    <td>18</td>
                                    <td>19</td>
                                    <td>20</td>
                                    <td>21</td>
                                    <td>22</td>
                                </tr>
                                <tr>
                                    <td>23</td>
                                    <td>24</td>
                                    <td>25</td>
                                    <td>26</td>
                                    <td>27</td>
                                    <td>28</td>
                                    <td>29</td>
                                </tr>
                                <tr>
                                    <td>30</td>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>3</td>
                                    <td>4</td>
                                    <td>5</td>
                                    <td>6</td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                </div>
            </div>
        </main>
    </div>
</body>
</html>

