:root {
    --primary-bg-color: #333;
    --secondary-bg-color: #555;
    --text-color: white;
    --button-bg-color: #efefef;
    --button-text-color: black;
    --hover-bg-color: #efefef;
    --highlight-color: #ffcc00;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

.header {
    background-color: var(--primary-bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    background-color: var(--secondary-bg-color);
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.header nav {
    background-color: var(--primary-bg-color);
    width: 100%;
}

.header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 10px 20px;
}

.header nav ul li.left {
    margin-right: auto;
}

.header nav ul li.right {
    margin-left: 20px;
}

.header nav ul li a {
    color: var(--text-color);
    text-decoration: none;
}

.main-content {
    background-color: #f2d694;
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 100%;
}

.main-content h2 {
    margin-top: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2e3a9;
}

section {
    background-color: #fff2cc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    margin-bottom: 20px;
    text-align: center;
}

.gastos .botones {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gastos .botones button {
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    cursor: pointer;
    border: none;
    font-family: sans-serif;
    font-size:medium;
    font-weight: 400;
}

.gastos .botones button:hover {
    background-color: var(--hover-bg-color);
}

.agenda .calendario {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.agenda .calendario .mes-año {
    font-size: 20px;
}

.agenda .calendario table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    background-color: white;
}

.agenda .calendario th,
.agenda .calendario td {
    padding: 10px;
    border: 1px solid #ccc;
}

.agenda button {
    background-color:#ffcc00;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-family: sans-serif;
    font-size: medium;
}

.botones button:hover {
    background-color: var(--hover-bg-color);
}

button.prev,
button.next {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.gastos,
.agenda {
    flex: 1;
    margin-right: 10px;
}

.gastos {
    order: 1;
}

.agenda {
    order: 2;
}
