.container h1{
    font-family:sans-serif;
}

.left{
    font-family:sans-serif;
    margin-left: 0%;
}

.right{
    font-family:sans-serif;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    background-color: #4a4657;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    background-color: #3c374e;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.header nav {
    background-color: #4a4657;
    width: 100%;
}

.header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 10px 20px;
}

.header nav ul li.left {
    margin-right: auto;
}

.header nav ul li.right {
    margin-left: 20px;
}

.header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight:600;
}

.main-content {
    background-color: #f1edec;
    background-image: url('/assets/FondoPagina.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.main-content h2 {
    margin-top: 0;
}
.form-container {
    width: 30%; 
    max-width: 450px; 
    margin: auto; 
    margin-top: 50px; 
    background-color: #fff2cc;
    padding: 20px;
    border: 2px solid #1f1a35;
    border-radius: 5px;
    background: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 13px 13px 23px rgba(0, 0, 0, 0.5);
}

.form-container h1 {
    text-align: center; 
    font-size: 2em; 
    margin-bottom: 20px; 
    font-family: sans-serif;
}

.form-container h5{
    margin-left: 80%;
    font-family: sans-serif;
}
.form-container .mb-3 {
    margin-bottom: 15px;
}

.form-container .form-label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.2em; 
    font-family:sans-serif;
}

.form-container .form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em; 
    font-family:sans-serif;
}

.custom-btn {
    width: 100%; 
    background-color: #424144;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    text-align: center;
    font-family: sans-serif;
    display: inline-block;
    text-decoration: none;
}

.custom-btn:hover {
    background-color: #79787c;
}
.contenido-principal {
    background-color: #f2d694; 
    flex: 1; 
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
    padding: 12px; 
    min-height: 70%;
}

.form-grid {
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
    padding: 30px;
    border-radius: 6px;
    border: 2px solid #1f1a35;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    background-color: #fff2cc;
    background: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 13px 13px 23px rgba(0, 0, 0, 0.5);
}

.form-group {
    margin-bottom: 20px;
}

.form-floating {
    position: relative;
    margin-bottom: 20px;
}

.form-floating input {
    width: 250px;
    padding: 16px;
    border: 3px solid #ffffff;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 18px;
    font-family: sans-serif;
    background-color: transparent;
    color: #000;
    box-shadow: none;
    transition: all 0.2s ease;
}

.form-floating label {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 18px;
    color: #3b3838;
    pointer-events: none;
    transition: all 0.2s ease;
}

.form-floating input:focus,
.form-floating input:not(:placeholder-shown) {
    padding-top: 20px;
}

.form-floating input:focus + label,
.form-floating input:not(:placeholder-shown) + label {
    top: -18px;
    left: 10px;
    font-size: 13px;
    color: #000000;
}

.links-container {
    display: flex;
    justify-content: space-between;
    width: 100%; 
    padding: 10px 0; 
}

.links-container h5 {
    margin: 0;
    font-family: sans-serif;
    color: #fff;
}

.links-container h5 a {
    text-decoration: none; 
    color: inherit; 
}

.error-message {
    color: #af1919;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.error-message i {
    margin-right: 5px;
}

.notification {
    position: absolute;
    top: 100px;
    right: 20px;
    background-color: #3b9c3e71;
    color: white;
    font-weight: 600;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    animation: slideInRight 0.5s forwards, slideOutRight 0.5s forwards 2.5s;
}